<h1>Gallery</h1>

<div class="row">
  <% @images.each do |image| %>
    <div class="col-md-4">
      <%= link_to image_tag(image.image.url, class: "img-fluid"), image_path(image) %>
      <h4><%= image.title %></h4>
      <p><%= image.description %></p>
    </div>
  <% end %>
</div>

<%= link_to 'Add Image', new_image_path, class: "btn btn-primary" %>
